.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

#main {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 2em;
    animation: intro 0.3s both;
    animation-delay: 0.35s;
    padding-left: 0;
}